
<img src="" alt="">
<form method="post" action="/" class="tabla">
  <textarea name="query" rows="10" cols="60"></textarea><br />
  <input type="submit" />
</form>

<h3>Resultados</h3>
<code>{{ resultados }}</code>

<h3>Columnas</h3>
<code>{{ columnas }}</code>

<h3>Error</h3>
<code>{{ error }}</code>
